<ul>
    <li>
        <a href="{{ url_for('index') }}"><i class="fas fa-home"></i> 首页</a>
    </li>
    <li class="has-submenu">
        <a href="#"><i class="fas fa-users"></i> 老人管理 <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
            <li><a href="#">老人信息</a></li>
            <li><a href="#">入院登记</a></li>
            <li><a href="#">健康档案</a></li>
        </ul>
    </li>
    <li class="has-submenu">
        <a href="#"><i class="fas fa-user-md"></i> 护工管理 <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
            <li><a href="#">护工信息</a></li>
            <li><a href="#">考勤管理</a></li>
            <li><a href="#">绩效考核</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fas fa-calendar-alt"></i> 排班管理</a></li>
    <li><a href="#"><i class="fas fa-pills"></i> 药品管理</a></li>
    <li><a href="#"><i class="fas fa-utensils"></i> 餐饮管理</a></li>
    <li><a href="#"><i class="fas fa-chart-line"></i> 数据统计</a></li>
    <li class="has-submenu">
        <a href="#"><i class="fas fa-robot"></i> 医疗大模型 <i class="fas fa-chevron-down"></i></a>
        <ul class="submenu">
            <li><a href="{{ url_for('ai_chat') }}">智能问诊</a></li>
            <li><a href="{{ url_for('medical_analysis') }}">病历分析</a></li>
            <li><a href="{{ url_for('health_assessment') }}">健康评估</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fas fa-cog"></i> 系统设置</a></li>
</ul> 